[Desktop Entry]
Comment=Shows the application name of the focused window
Encoding=UTF-8
Icon=preferences-desktop
Name=Application Name
Type=Service
X-KDE-PluginInfo-Author=Andrea Scarpino
X-KDE-PluginInfo-Email=scarpino@kde.org
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=org.kde.applicationname
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
